*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;   
}

.navigation{
    background-color: #343a40;
    padding: 10px 20px;
}

.logo{
    color: #f8f9fa;
    font-family: Arial;
    float: left;
}
.logo-img{
    width: 35px;
}
.list-navigation{
    float: right;
}

.list{
    display: inline-block;
    margin: 0 10px;    
}
.link{
    color: #f8f9fa;
    font-size: 14px;
    font-family: Arial;
}

.limpiar{
    clear: both;
}


.header{
    background-image: url(../img/header.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}